h1 {
  font-family: 'Segoe UI', sans-serif;
  font-size: 46px;
}

h2 {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(81, 60, 216);
}

a:hover {
  text-decoration: underline;
}

span {
  font-family: 'Hack';
  color: rgb(199, 132, 9);
  font-weight: 500;
}

.df {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.fw {
  flex-wrap: wrap;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.fdc {
  flex-direction: column;
}

@media (max-width: 584px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
    font-weight: 900;
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
  }

  .col {
    margin-top: 20px;
  }
  
  .mt {
    margin-top: 20px;
  }
  
  .col_item {
    margin-bottom: 20px;
  }

  .buttons {
    margin-left: 5%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .button {
    background-color: #271D5E;
    border: none;
    padding: 10px;
    border-radius: 15px;
  }
  
  .button a {
    font-size: 15px;
    color: #fff;
  }
}
